@model IEnumerable<PMB.Data.Elemento>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script language=javascript>

    $(function () {        

        // Document.ready -> link up remove event handler
        $(".imgEliminar").click(function () {
            // Get the id from the link            
            // Perform the ajax post
            if(!confirm("¿Está seguro que desea eliminar el elemento?, si lo elimina no podrá ser visualizada por los demás usuarios")) return false;
            
            $.post("/Seccion/EliminaElemento", { "id": $(this).attr("id-elemento") },
                function (data) {
                    // Successful requests get here
                    // Update the page elements

                    //alert(data.mensaje);
                    window.open("@Url.Action("ElementoIndex", "Seccion", new { _idCategoria = PMB.Bussiness.Seguridad.EncryptString(ViewBag.categoria.ID) })", "_self");
                });

        });         
        
    })


</script>

<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Informativo</h4>
    <p>Esta sección permitirá que te enteres de los elementos recomendados por otros vecinos. Si pinchas en un elemento, puedes revisar la conformidad de vecinos e incorporar la tuya, evaluando tu experiencia.</p>
</div>

<div class="widget stacked">
    <div class="widget-header">		
        <h3>@ViewBag.categoria.Nombre</h3>
    </div> <!-- /widget-header -->		
    <div class="widget-content">

        <p>            
            <a href="@Url.Action("ElementoCreate", "Seccion", new { idCategoria = ViewBag.categoria.ID, _id = PMB.Bussiness.Seguridad.EncryptString(0) } )"  class="btn btn-primary btnNuevo">Crear nuevo elemento</a>
        </p>
        <table class="table table-striped table-bordered">
            <tr>                         
                <td>
                    Nombre
                </td>
                <td>
                    Telefono
                </td>
                <td>
                    Comuna
                </td>      
                <td>
                    Evaluación (1 a 10)
                </td>      
                <td></td>
            </tr>
    
        @foreach (var item in Model) {
            <tr>                     
                <td>
                    @Html.ActionLink(item.Nombre, "ElementoDetails", new { _id = PMB.Bussiness.Seguridad.EncryptString(item.ID) })                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comuna)
                </td>         
                <td>
                    @Html.TraeEvaluacionElemento((decimal)ViewBag.idBarrio, item.ID)
                </td>   
                <td>
                    @if (item.ID_Usuario == Convert.ToDecimal(PMB.Bussiness.Seguridad.DecryptString(Request.Cookies["idUsuario"].Value)))
                    {
                        <img class="btn" style="cursor:pointer;" onclick="AbreLink('@Url.Action("ElementoCreate", "Seccion", new { _idCategoria = PMB.Bussiness.Seguridad.EncryptString(ViewBag.categoria.ID), _id = PMB.Bussiness.Seguridad.EncryptString(item.ID) })');" style="cursor:pointer" src='@Url.Content("~/Content/Images/editar.png")' width='15px' height='15px' title='Editar elemento' />
                        <img class="imgEliminar btn" style="cursor:pointer" id-elemento="@item.ID" src='@Url.Content("~/Content/Images/eliminar.png")' width='15px' height='15px' title='Eliminar elemento' />
                    }
                    else
                    {
                        <a>&nbsp;</a>
                    }
                </td>
            </tr>
        }
    
        </table>
    </div>
</div>
